<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/home/register.js"></script>
    <link rel="stylesheet" href="/css/home/login.css" type="text/css">
</head>

<body>
    <div class="register-page">
        <div class="form">
            <form class="register-form">
                <input id="id" type="text" placeholder="아이디" />
                <input id="name" type="text" placeholder="이름" />
                <input id="pw"type="password" placeholder="비밀번호" />
                <input id="pwCheck" type="password" placeholder="비밀번호 확인" />
            </form>
            <button onclick="register()">Sign Up</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </div>
    </div>
</body>

</html>

<!--Copyright (c) 2023 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)-->